@import url(../Тест 1/css/layout/normalize.css);

/* Global */
* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    -webkit-padding-start: 0%;
}


p {
    margin: 100 100;
    color: red;
}

h1{
    color: blueviolet;
}


/* Sections */
.header-text {
    font-weight: 800;
    font-size: 24px;   
    text-align: center;
    margin-top: 1%;
    margin-bottom: 5%;
}

.main {
    float: right;
    width: 75%; 
}
.sidebar {
    float: left;
    width: 25%;
}
.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    min-height: 5%;
    background-color: bisque;
    font-weight: 800;
    font-size: 24px;
    -webkit-text-fill-color: blueviolet;
    -moz-text-decoration-color: blueviolet;
    text-align: center;
    padding-top: 1%; 
}
.clearfix, .clearfix::after, .clearfix::before {
    display: block;
    content: "";
}



/* Content */

/* Articles */

.main-content__articles-list-item__img  {
    width: 70%;
    height: 70%;    
}
.navigation-list__link-image {
    width: 100%;
    height: 100%;        
}
.main-header{
    font-size: 22px;   
    font-weight: 600;
    text-align: center;
    margin-bottom: 3%
}

/* Lists */

.main-content__articles-list-item {
    display: inline-block;
    width: 32%;
}
.navigation-list__item {
    display: block; 
}
.main-content__articles-list-item__header {
    font-size: 14px;  
}
.navigation-list__link{
    display: inline-block;
}
.navigation-list__link-image, .footer-list__img {
    float: left;
    width: 30%; 
    height: 30%;
}
.navigation-list__link-text {
    float: right;
    font-size: 12px;
    width: 70%;
}

/* Footer */
.footer {
    display: block;
}

