.text-block:after, .gallery__list:after, .text-block:before, .gallery__list:before {
  content: "";
  display: table;
}

.text-block:after, .gallery__list:after {
  clear: both;
}

@font-face {
  font-family: 'Malina';
  src: url("/fonts/Malina.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fira_sansregular';
  src: url("/fonts/firasans-regular-webfont.eot");
  src: url("/fonts/firasans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/firasans-regular-webfont.woff2") format("woff2"), url("/fonts/firasans-regular-webfont.woff") format("woff"), url("/fonts/firasans-regular-webfont.ttf") format("truetype"), url("/fonts/firasans-regular-webfont.svg#fira_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fira_sansbold';
  src: url("/fonts/firasans-bold-webfont.eot");
  src: url("/fonts/firasans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/firasans-bold-webfont.woff2") format("woff2"), url("/fonts/firasans-bold-webfont.woff") format("woff"), url("/fonts/firasans-bold-webfont.ttf") format("truetype"), url("/fonts/firasans-bold-webfont.svg#fira_sansbold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fira_sanslight';
  src: url("/fonts/firasans-light-webfont.eot");
  src: url("/fonts/firasans-light-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/firasans-light-webfont.woff2") format("woff2"), url("/fonts/firasans-light-webfont.woff") format("woff"), url("/fonts/firasans-light-webfont.ttf") format("truetype"), url("/fonts/firasans-light-webfont.svg#fira_sanslight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fira_sansmedium';
  src: url("/fonts/firasans-medium-webfont.eot");
  src: url("/fonts/firasans-medium-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/firasans-medium-webfont.woff2") format("woff2"), url("/fonts/firasans-medium-webfont.woff") format("woff"), url("/fonts/firasans-medium-webfont.ttf") format("truetype"), url("/fonts/firasans-medium-webfont.svg#fira_sansmedium") format("svg");
  font-weight: normal;
  font-style: normal;
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.container {
  margin: 0 auto;
  max-width: 970px;
}

.text-block {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid black;
}

.text-block__left {
  float: left;
  width: 50%;
}

.text-block__left img {
  display: block;
  max-width: 100%;
}

.text-block__right {
  float: left;
  width: 47%;
  margin-left: 3%;
}

.gallery__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.gallery__item {
  float: left;
  width: 25%;
  margin-bottom: 10px;
}

.gallery__item-inner {
  padding: 0 10px;
}

.gallery__item-inner img {
  display: block;
  max-width: 100%;
}

@media (max-width: 1200px) {
  body {
    font-size: 16px;
  }
  .container {
    width: 970px;
  }
}

@media (max-width: 992px) {
  body {
    font-size: 15px;
  }
  .container {
    width: 750px;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
  .container {
    width: 480px;
  }
  .text-block__left {
    float: none;
    width: 100%;
  }
  .text-block__right {
    float: none;
    width: 100%;
  }
  .gallery__item {
    width: 50%;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 13px;
  }
  .container {
    width: auto;
  }
  .gallery__item {
    width: 25%;
  }
}
/*# sourceMappingURL=adaptive.css.map */