.about:after, .about:before {
  content: "";
  display: table;
}

.about:after {
  clear: both;
}

@font-face {
  font-family: 'Malina';
  src: url("/fonts/Malina.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fira_sansregular';
  src: url("/fonts/firasans-regular-webfont.eot");
  src: url("/fonts/firasans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/firasans-regular-webfont.woff2") format("woff2"), url("/fonts/firasans-regular-webfont.woff") format("woff"), url("/fonts/firasans-regular-webfont.ttf") format("truetype"), url("/fonts/firasans-regular-webfont.svg#fira_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fira_sansbold';
  src: url("/fonts/firasans-bold-webfont.eot");
  src: url("/fonts/firasans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/firasans-bold-webfont.woff2") format("woff2"), url("/fonts/firasans-bold-webfont.woff") format("woff"), url("/fonts/firasans-bold-webfont.ttf") format("truetype"), url("/fonts/firasans-bold-webfont.svg#fira_sansbold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fira_sanslight';
  src: url("/fonts/firasans-light-webfont.eot");
  src: url("/fonts/firasans-light-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/firasans-light-webfont.woff2") format("woff2"), url("/fonts/firasans-light-webfont.woff") format("woff"), url("/fonts/firasans-light-webfont.ttf") format("truetype"), url("/fonts/firasans-light-webfont.svg#fira_sanslight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fira_sansmedium';
  src: url("/fonts/firasans-medium-webfont.eot");
  src: url("/fonts/firasans-medium-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/firasans-medium-webfont.woff2") format("woff2"), url("/fonts/firasans-medium-webfont.woff") format("woff"), url("/fonts/firasans-medium-webfont.ttf") format("truetype"), url("/fonts/firasans-medium-webfont.svg#fira_sansmedium") format("svg");
  font-weight: normal;
  font-style: normal;
}

.about__left {
  float: left;
  width: 17.5rem;
  text-align: center;
}

.about__pic {
  display: inline-block;
  overflow: hidden;
  border: 3px solid #fff;
  overflow: hidden;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  width: 10.75rem;
  height: 10.75rem;
  background: black;
  background: url("img/content/ava-big.jpg") center center no-repeat;
  background-size: 100%;
}

.about__pic-item {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.about__right {
  width: 24.375rem;
  float: right;
}

.text-block {
  color: #646464;
  font-size: 1.125rem;
  font-family: 'fira_sansregular';
  font-family: 'fira_sanslight';
}

.about__text {
  height: 18.125rem;
  overflow: auto;
  margin-bottom: 2.1875rem;
}

.about__download {
  text-align: right;
}

.text-block p {
  margin: 0;
  margin-bottom: 0.625rem;
}

@media screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-resolution: 144dpi) {
  .about__pic {
    background: url("img/content/ava-retina@2x.jpg") center center no-repeat;
    background-size: 100%;
  }
}
/*# sourceMappingURL=about.css.map */