@import "../_misc/mixins.scss";
@import "../_misc/fonts.scss";
@import "../variables.scss";

.acco {
	max-width: rem(400px);
	display: inline-block;
}


.acco__item {
	border-bottom: 3px solid $green;
	margin-bottom: 10px;

	&:last-child {
		border-bottom: none;
	}
}

.acco__trigger {
	text-decoration: none;
	font-size: 20px;
	color: $black;
	display: block;
	margin-bottom: 10px;
	font-family: "Helvetica Neue";
}

.acco__content {
	padding: 10px;
	list-style: disc;
	list-style-position: inside;
	padding-left: 30px;
	display: none;
}

.acco__content-item {
	margin-bottom: 5px;
}