@import "../_misc/mixins.scss";
@import "../_misc/fonts.scss";
@import "../variables.scss";

.stuff {
	width: rem(710px);
	float: right;

	@include tablets {
		width: 100%;
		float: none;
	}
}

.content {
	.container {
		@extend %clearfix;
	}
}

.content-title {
	text-align: center;
	font-size: rem(35px);
	color: $black;
	margin-top: 0;
	margin-bottom: 0;
	font-weight: normal;
	@include fira(medium);
	margin-bottom: rem(25px);
}

.section {
	align-content: center; 
	text-align: center;
	margin-bottom: 30px;	
}

.section__title {
	text-align: center;
	font-size: rem(18px);
	color: $black;
	margin-top: 0;
	margin-bottom: 0;
	font-weight: normal;
	@include fira(medium);
	margin-bottom: rem(25px);	
}