@import "../_misc/mixins.scss";
@import "../_misc/fonts.scss";
@import "../variables.scss";

.container {
	position: relative;
}

.header {
	background: #fff;
	@include box-shadow(0 -1px 3px 0 rgba(00, 00, 00, .2));
	margin-bottom: 1.25rem;
	
	.container {
		height: 5rem;
		position: relative;
	}
}

.user {
	position: absolute;
	top: 0.6rem;
	left: 0;
}

.user__avatar {
	@include inlineblock(middle);
	overflow: hidden;
	@include border-radius(50%);
}

.user__avatar-pic {
	display: block;
}


.user__name {
	@include inlineblock(middle);
	max-width: rem(250px);
}

.contacts {
	position: absolute;
	right: 0;
	top: rem(30px);
}

.contacts__trigger {
	text-decoration: none;
	font-size: rem(18px);
	line-height: rem(28px);
	color: $blue;
	// border-bottom: 2px dotted @blue;
	background: url('img/decor/dotted-border.png') 0 bottom repeat-x;
}

.about__download-link {
	padding: rem(9px) rem(12px);
	border: 2px solid $red;
	color: $red;
	text-decoration: none;
	font-size: rem(14px);
	display: inline-block;
	@include border-radius(40px);

	&:hover {
		color: #fff;
		background: $red;
	}
}








