@import "../_misc/mixins.scss";
@import "../_misc/fonts.scss";
@import "../variables.scss";


.container {
	position: relative;
}

.header {
	background: #fff;
	@include box-shadow(0 -1px 3px 0 rgba(00, 00, 00, .2));
	margin-bottom: 1.25rem;
	height: rem(80px);
	
	.container {
		height: 5rem;
		position: relative;
	}
}

.header_other-site {
	background: #fff;
	@include box-shadow(0 -1px 3px 0 rgba(00, 00, 00, .2));
	margin-bottom: 1.25rem;
	
	.container {
		height: 5rem;
		position: relative;
	}
}

.user {
	position: absolute;
	top: 0.6rem;
	left: 0;
}

.user__avatar {
	@include inlineblock(middle);
	overflow: hidden;
	@include border-radius(50%);
}


.user__avatar-pic {
	display: block;
}

.other-site_pic {
	position: absolute;
	height: 50%;
	top: 0.45rem;
	left: 0.45rem;
}

.other-site_pic-left {
	display: block;
	height: 70%;
	margin-top: 0.8rem;
}
.other-site_pic {
	position: absolute;
	display: block;
	height: 50%;
	top: 0.45rem;
	left: 0.45rem;
}

.user__name {
	@include inlineblock(middle);
	max-width: rem(250px);
}
.other-site__name{
	@include inlineblock(middle);
	//max-width: rem(250px);
	top: 50%;
	position: absolute;
    top: 2rem;
}

.other-site {
	display: block;
}
.other-site-left {
	position: absolute;
	text-align: left;
	top: 0;
	left: 0;
	width: 28%;
	height: 100%;
}
.other-site-right {
	position: absolute;
	text-align: right;
	top: 0;
	right: 0;
	width: 10%;
	height: 100%;
}

.other-site_logo {
	display: inline-block;
	text-align: left;
	top: 0.6rem;
	height: rem(80px);
}
.other-site-menu {
	display: inline-block;
}
.other-site-menu__list {
	display: inline-block;
	margin: rem(23px) rem(20px);	
}


.icon {
	margin-top: 1rem;
	height: 30px;
	width: 30px;
	border-radius: 50%;
}
.icon_right {
	position: absolute;
	right: 0;
}
.icon_left {
	position: absolute;
	left: 0;
}
.icon_red_background {
	background: red;
}


.contacts {
    top: 1.875rem;
    vertical-align: middle;
	display: inline-block;

	&:hover {
		background-color: aquamarine;

		.contacts__dropdown {
			left: rem(50px);
			opacity: 1;
		}
	}
}

.main_menu {
	right: 0;
    top: 1.875rem;
    position: absolute;
    vertical-align: middle;
}

.menu {
    top: 1.875rem;
    vertical-align: middle;
	display: inline-block;
	margin-right: rem(30px);

	&:hover {
		background-color: aquamarine;

		.menu__dropdown {
			left: rem(-100px);
			opacity: 1;
		}
	}
}

.menu-1 {
    //top: 1.875rem;
    vertical-align: middle;
	display: inline-block;
	margin-right: rem(30px);

	&:hover {
		background-color: aquamarine;

		.menu__dropdown-1 {
			left: rem(-200px);
			opacity: 1;
		}
	}
}
.contacts__dropdown {
    width: rem(200px);
	text-align: center;
	background: #fff;
	height: rem(280px);
	border: 1px solid #000;
	position: absolute;
	top: 100%;
	left: 50%;
	z-index: 1000;
	left: -9999px;
	margin-top: rem(10px);
	opacity: 0;
	transition: opacity .5s;
	* {
		line-height: 1.42;
	}
	&:before {
		display: block;
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		height: rem(25px);
		top: rem(-23px);
	}  
	.contacts__dropdown-item {
		padding: rem(5px);
	}
}

.menu__dropdown {
    width: rem(200px);
	text-align: center;
	background: #fff;
	height: rem(140px);
	border: 1px solid #000;
	position: absolute;
	top: 100%;
	left: 50%;
	z-index: 1000;
	left: -9999px;
	margin-top: rem(10px);
	opacity: 0;
	transition: opacity .5s;
	* {
		line-height: 1.42;
	}
	&:before {
		display: block;
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		height: rem(25px);
		top: rem(-23px);
	}  
	.menu__dropdown-item {
		padding: rem(5px);
	}
}

.menu__dropdown-1 {
    width: rem(200px);
	text-align: center;
	background: #fff;
	height: rem(100px);
	border: 1px solid #000;
	position: absolute;
	top: 40%;
	//left: 50%;
	z-index: 1000;
	left: -9999px;
	margin-top: rem(10px);
	opacity: 0;
	transition: opacity .5s;
	* {
		line-height: 1.42;
	}
	&:before {
		display: block;
		content: "";
		position: absolute;
		left: 0;
		right: 100px;
		height: rem(25px);
		top: rem(-23px);
	}  
	.menu__dropdown-item-1 {
		padding: rem(5px);
	}
}

.contacts__trigger, .menu__trigger{
	text-decoration: none;
	font-size: rem(18px);
	line-height: rem(28px);
	color: $blue;
	border-bottom: 2px dotted $blue;
	//background: url('img/decor/dotted-border.png') 0 bottom repeat-x;

	display: inline-block;
	position: relative;
}
.menu__trigger-1 {
	text-decoration: none;
	font-size: rem(18px);
	line-height: rem(28px);
	//border-bottom: 1px solid #000;
	//border-bottom: 2px dotted $blue;
	//background: url('img/decor/dotted-border.png') 0 bottom repeat-x;
	width: rem(200px);
	text-align: center;
	right: 0;

	display: inline-block;
	position: relative;
}

.about__download-link {
	padding: rem(9px) rem(12px);
	border: 2px solid $red;
	color: $red;
	text-decoration: none;
	font-size: rem(14px);
	display: inline-block;
	@include border-radius(40px);

	&:hover {
		color: #fff;
		background: $red;
	}
}








