@font-face {
  font-family: 'fira_sansregular';
  src: url("/fonts/firasans-regular-webfont.eot");
  src: url("/fonts/firasans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/firasans-regular-webfont.woff2") format("woff2"), url("/fonts/firasans-regular-webfont.woff") format("woff"), url("/fonts/firasans-regular-webfont.ttf") format("truetype"), url("/fonts/firasans-regular-webfont.svg#fira_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fira_sansbold';
  src: url("/fonts/firasans-bold-webfont.eot");
  src: url("/fonts/firasans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/firasans-bold-webfont.woff2") format("woff2"), url("/fonts/firasans-bold-webfont.woff") format("woff"), url("/fonts/firasans-bold-webfont.ttf") format("truetype"), url("/fonts/firasans-bold-webfont.svg#fira_sansbold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fira_sanslight';
  src: url("/fonts/firasans-light-webfont.eot");
  src: url("/fonts/firasans-light-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/firasans-light-webfont.woff2") format("woff2"), url("/fonts/firasans-light-webfont.woff") format("woff"), url("/fonts/firasans-light-webfont.ttf") format("truetype"), url("/fonts/firasans-light-webfont.svg#fira_sanslight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fira_sansmedium';
  src: url("/fonts/firasans-medium-webfont.eot");
  src: url("/fonts/firasans-medium-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/firasans-medium-webfont.woff2") format("woff2"), url("/fonts/firasans-medium-webfont.woff") format("woff"), url("/fonts/firasans-medium-webfont.ttf") format("truetype"), url("/fonts/firasans-medium-webfont.svg#fira_sansmedium") format("svg");
  font-weight: normal;
  font-style: normal;
}

.container {
  position: relative;
}

.header {
  background: #fff;
  box-shadow: 0 -1px 3px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 -1px 3px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 -1px 3px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 1.25rem;
}

.header .container {
  height: 5rem;
  position: relative;
}

.user {
  position: absolute;
  top: 0.6rem;
  left: 0;
}

.user__avatar {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.user__avatar-pic {
  display: block;
}

.user__name {
  display: inline-block;
  vertical-align: middle;
  max-width: 15.625rem;
}

.contacts {
  right: 0;
  top: 1.875rem;
  position: absolute;
  vertical-align: middle;
}

.contacts:hover {
  background-color: aquamarine;
}

.contacts:hover .contacts__dropdown {
  left: -6.25rem;
  opacity: 1;
}

.contacts__dropdown {
  width: 18.75rem;
  text-align: center;
  background: #fff;
  height: 12.5rem;
  border: 1px solid #000;
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: 1000;
  left: -9999px;
  margin-top: 0.625rem;
  opacity: 0;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.contacts__dropdown * {
  line-height: 1.42;
}

.contacts__dropdown:before {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 1.5625rem;
  top: -1.4375rem;
}

.contacts__dropdown .contacts__dropdown-item {
  padding: 0.3125rem;
}

.contacts__trigger {
  text-decoration: none;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: #33c1e3;
  border-bottom: 2px dotted #33c1e3;
  display: inline-block;
  position: relative;
}

.about__download-link {
  padding: 0.5625rem 0.75rem;
  border: 2px solid #e85f61;
  color: #e85f61;
  text-decoration: none;
  font-size: 0.875rem;
  display: inline-block;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
}

.about__download-link:hover {
  color: #fff;
  background: #e85f61;
}
/*# sourceMappingURL=header.css.map */