@import "../_misc/mixins.scss";
@import "../_misc/fonts.scss";
@import "../variables.scss";

.bx-wrapper {
	box-shadow: none;
}
.slider {
	display: inline-block;
	max-width: rem(600px);
}

.slider__item {
	text-align: center;
	align-content: center;

	img {
		display: inline-block !important;
		//display: inline-block;
	}
}