@import "../_misc/mixins.scss";
@import "../_misc/fonts.scss";
@import "../variables.scss";

.tabs__content-item {
	display: none;

	&.active {
		display: block;
	}
}

.tabs {
	min-height: 300px;
}

.acco__content {
	display: none;
}

.slider__item {
	text-align: center;

	img {
		display: inline-block;
	}
}

.bx-wrapper {
	box-shadow: none !important;
}



